<div class="text-center">
    <br /><h3 style="color:darkslategrey"><u>Se ha finalizado un partido</u></h3><br /><br />

    @if (ViewBag.EsFase)
    {

        <table class="table">
            <thead>
                <tr>
                    <td><b>Fase </b></td>
                    <td> <b> Fecha </b></td>
                    <td><b> Selección </b></td>
                    <td> <b> <img src="~/css/Gol.png" width="40" /> </b></td>
                    <td> <img src="~/css/TarjetaAmarilla.png" width="40" /> </td>
                    <td>  <img src="~/css/TarjetaRoja.png" width="40" /></td>
                    <td> <b> Selección </b></td>
                    <td> <b> <img src="~/css/Gol.png" width="40" /> </b></td>
                    <td> <img src="~/css/TarjetaAmarilla.png" width="40" /> </td>
                    <td>  <img src="~/css/TarjetaRoja.png" width="40" /></td>
                    <td><b></b></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-1 col-sm-1">@ViewBag.Fase.Fase.ToString()</td>
                    <td class="col-1 col-sm-1">@ViewBag.Fase.FechaPartido.ToString("dd/MM/yyyy hh:mm tt")</td>
                    <td>@ViewBag.Fase.GetSeleccionesPartido()[0].Pais.NombrePais</td>
                    <td class="col-1 col-sm-1">@ViewBag.Fase.GetIncidenciasTipo("Gol", 0)</td>
                    <td class="col-1 col-sm-1">@ViewBag.Fase.GetIncidenciasTipo("TarjetaAmarilla", 0)</td>
                    <td class="col-1 col-sm-1">@ViewBag.Fase.GetIncidenciasTipo("TarjetaRoja", 0)</td>
                    <td> @ViewBag.Fase.GetSeleccionesPartido()[1].Pais.NombrePais</td>
                    <td class="col-1 col-sm-1">@ViewBag.Fase.GetIncidenciasTipo("Gol", 1)</td>
                    <td class="col-1 col-sm-1">@ViewBag.Fase.GetIncidenciasTipo("TarjetaAmarilla", 1)</td>
                    <td class="col-1 col-sm-1">@ViewBag.Fase.GetIncidenciasTipo("TarjetaRoja", 1)</td>
                    <td>@ViewBag.Fase.ResultadoFinal</td>
                </tr>

            </tbody>
        </table>

    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <td><b>Fase </b></td>
                    <td> <b> Fecha </b></td>
                    <td><b> Selección </b></td>
                    <td> <b> <img src="~/css/Gol.png" width="40" /> </b></td>
                    <td> <img src="~/css/TarjetaAmarilla.png" width="40" /> </td>
                    <td>  <img src="~/css/TarjetaRoja.png" width="40" /></td>
                    <td> <b> Selección </b></td>
                    <td> <b> <img src="~/css/Gol.png" width="40" /> </b></td>
                    <td> <img src="~/css/TarjetaAmarilla.png" width="40" /> </td>
                    <td>  <img src="~/css/TarjetaRoja.png" width="40" /></td>
                    <td><b> Alargue</b></td>
                    <td><b>Penales</b></td>
                    <td><b>Resultado</b></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-1 col-sm-1">@ViewBag.Fase.Fase.ToString()</td>
                    <td class="col-1 col-sm-1">@ViewBag.Fase.FechaPartido.ToString("dd/MM/yyyy hh:mm tt")</td>
                    <td>@ViewBag.Fase.GetSeleccionesPartido()[0].Pais.NombrePais</td>
                    <td class="col-1 col-sm-1">@ViewBag.Fase.GetIncidenciasTipo("Gol", 0)</td>
                    <td class="col-1 col-sm-1">@ViewBag.Fase.GetIncidenciasTipo("TarjetaAmarilla", 0)</td>
                    <td class="col-1 col-sm-1">@ViewBag.Fase.GetIncidenciasTipo("TarjetaRoja", 0)</td>
                    <td> @ViewBag.Fase.GetSeleccionesPartido()[1].Pais.NombrePais</td>
                    <td class="col-1 col-sm-1">@ViewBag.Fase.GetIncidenciasTipo("Gol", 1)</td>
                    <td class="col-1 col-sm-1">@ViewBag.Fase.GetIncidenciasTipo("TarjetaAmarilla", 1)</td>
                    <td class="col-1 col-sm-1">@ViewBag.Fase.GetIncidenciasTipo("TarjetaRoja", 1)</td>

                    <td class="col-1 col-sm-1">
                        @if (ViewBag.Fase.HuboALargue())
                        {
                            <img src="~/css//PenalesSI.jpg" width="30" />
                        }
                        else
                        {
                            <img src="~/css//PenalesNO.jpg" width="30" />
                        }
                    </td>

                    <td class="col-1 col-sm-1">
                        @if (ViewBag.Fase.DefinidoPorPenales())
                        {
                            <img src="~/css//PenalesSI.jpg" width="30" />
                        }
                        else
                        {
                            <img src="~/css//PenalesNO.jpg" width="30" />
                        }
                    </td>

                    <td>@ViewBag.Fase.ResultadoFinal</td>
                </tr>

            </tbody>
        </table>
        <p style="text-align:left"><small><i>Entre parentesis se indica la cantidad de goles en penales</i></small></p>

        <h4 style="padding-top:40px">Datos del partido</h4>

        <br />

        <br />
        <div class="container">
            <div class="row">

                @foreach (var seleccion in @ViewBag.Fase.GetSeleccionesPartido())
                {
                    <div class="col-6 mx-auto ">
                        <h3>@seleccion.Pais.NombrePais</h3><br />

                        <p><u> <b>GOLES EN TIEMPO DE JUEGO </b></u></p>
                        <br />
                        @foreach (var Incidencia in ViewBag.Fase.GetIncidenciaGol(seleccion))
                        {
                            @foreach (var jugador in ViewBag.Jugadores)
                            {
                                @if (@jugador.IdJugador == Incidencia.JugadorId)
                                {
                                    <p><b>Min:</b> @Incidencia.Minuto  -  <b>Jugador: </b>@jugador.NombreCompJugador </p>
                                    <br />
                                    break;
                                }
                            }

                        }

                        @if (ViewBag.Fase.GetIncidenciaPenal(seleccion).Count != 0)
                        {
                            <p style="color:darkblue"><b><u>GOLES EN PENALES</u></b></p>
                            <br />
                            @foreach (var Incidencia in ViewBag.Fase.GetIncidenciaPenal(seleccion))
                            {
                                @foreach (var jugador in ViewBag.Jugadores)
                                {
                                    @if (@jugador.IdJugador == Incidencia.JugadorId)
                                    {
                                        <p>@jugador.NombreCompJugador </p>

                                        <br />
                                        break;
                                    }
                                }
                            }
                        }

                        @if (ViewBag.Fase.GetIncidenciaAmarilla(seleccion).Count != 0)
                        {
                            <p style="color:gold"><b><u>TARJETA AMARILLA </u> </b></p>
                            <br />
                            @foreach (var Incidencia in ViewBag.Fase.GetIncidenciaAmarilla(seleccion))
                            {
                                @foreach (var jugador in ViewBag.Jugadores)
                                {
                                    @if (@jugador.IdJugador == Incidencia.JugadorId)
                                    {
                                        <p><b>Minuto:</b> @Incidencia.Minuto  -  <b>Jugador:</b> @jugador.NombreCompJugador </p>

                                        <br />
                                        break;
                                    }
                                }
                            }
                        }

                        @if (ViewBag.Fase.GetIncidenciaRoja(seleccion).Count != 0)
                        {
                            <p style="color:red"><b><u>TARJETA ROJA </u></b></p>
                            <br />
                            @foreach (var Incidencia in ViewBag.Fase.GetIncidenciaRoja(seleccion))
                            {
                                @foreach (var jugador in ViewBag.Jugadores)
                                {
                                    @if (@jugador.IdJugador == Incidencia.JugadorId)
                                    {
                                        <p><b>Minuto:</b> @Incidencia.Minuto  -  <b>Jugador:</b> @jugador.NombreCompJugador </p>

                                        <br />

                                        break;
                                    }
                                }
                            }
                        }
                    </div>
                }
            </div>
        </div>
    }
</div>