<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> AppMundial</title>
    <link rel="shortcut icon" href="./css/Logo.jpg" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm mb-3">
            <div class="container">
                <img src="~/css/PicHeader.jpg" class="rounded float-left" alt="..." width="100 px">
                @if (ViewBag.Tipo != null)
                {
                    @if (ViewBag.Tipo.Equals("OPERADOR"))
                    {
                        <a class=" navbar-brand text-dark"><b> Menu de @ViewBag.Nombre</b></a>
                    }
                    else
                    {
                        <a class="navbar-brand text-dark"><b> Menu de @ViewBag.Nombre</b></a>
                    }

                }
                else
                {
                    <a class="navbar-brand">AppMundial Todo sobre Qatar 2022</a>
                }
                <img src="~/css/PicHeader.jpg" class="rounded float-left" alt="..." width="100 px">
            </div>
        </nav>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1 align-items-center justify-content-around text-center">

                        @if (ViewBag.Tipo != null)
                        {
                            @if (ViewBag.Tipo.Equals("OPERADOR"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark " asp-controller="Operador" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Home" asp-action="ListadoSelecciones" asp-route-tipo="@ViewBag.Tipo" asp-route-nombre="@ViewBag.Nombre">Selecciones</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Operador" asp-action="Partidos">Finalizar un partido<br /> Partidos finalizados</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Operador" asp-action="FiltrosDePartido">Filtrar partidos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Operador" asp-action="Periodistas">Periodistas activos</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Operador" asp-action="Estadisticas">Estadisticas generales</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" id="logout" asp-controller="Operador" asp-action="LogOut">Log out</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark " asp-controller="Periodista" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark " asp-controller="Periodista" asp-action="PartidosFinalizados">Partidos finalizados <br /> Redaccion de reseñas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark " asp-controller="Periodista" asp-action="VIsualizacionReseñas">Visualizacion de reseñas <br> realizadasas</a>
                                </li>
                                <li class="nav-item" >
                                    <a class="nav-link text-dark" id="logout" asp-controller="Operador" asp-action="LogOut">Log out</a>
                                </li>
                            }

                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Ingresa</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ListadoSelecciones">Selecciones</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="RegistroPeriodistas">Registro de <br /> periodistas</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>

    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()

        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/js/Operador/LogOut.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
